@import '../../../../styles/colors.scss';
@import '../../../../styles/font.scss';

.bttn {
  background-color: $background-color;
  height: 2.5em;
  width: 2.5em;
  border-radius: .2em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 1em;
  box-shadow: 0.185em 0.1875em 0.75em rgba(0, 0, 0, .3);
  border: 0;
  text-decoration: none;

  .icon {
    stroke: $black;
    width: 1.25em;
    height: 1.25em;
  }

  &:hover {
    cursor: pointer;
    .icon {
      stroke: $primary-color;
    }
  }
}

.bttnMobile {
  background-color: $background-color;
  height: 2.5em;
  width: 2.5em;
  border-radius: .2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 1em;
  box-shadow: 0.185em 0.1875em 0.75em rgba(0, 0, 0, .3);
  border: 0;
  text-decoration: none;

  .icon {
    stroke: $black;
    width: 1.25em;
    height: 1.25em;
  }
}

.container {
  position: relative;

  .dialogue {
    padding: .5rem 1rem 2rem 1.5rem;
    position: absolute;
    width: 22.5rem;
    background-color: $background-color;
    top: 0;
    transform: translate(-26rem, 0);
    box-shadow: 0.185em 0.1875em 0.75em rgba(0, 0, 0, .3);
    border-radius: 5px;

    .sensorType {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .layerItem {
        flex-shrink: none;
        position: relative;
        width: 10rem;
        height: 2rem;
        border-radius: 3px;
        cursor: pointer;
    
        h4 {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%)
        }
      }

      .layerItemActive {
        @extend .layerItem;
        border: 1px solid transparent;
        background-color: $primary-color;
    
        h4 {
          color: $background-color;
          font-weight: $font-weight-heavy;
        }
        /*
        @extend .layerItem;
        border: 2px solid $primary-color;
        background-color: $background-color;
    
        h4 {
          color: $primary-color;
          font-weight: $font-weight-heavy;
        }
        */
      }
  
      .layerItemInactive {
        @extend .layerItem;
        border: 1px solid $neutral-color-5;
        background-color: $neutral-color-1;
  
        h4 {
          color: $neutral-color-7;
        }
      }
    }
  }
  

  .hidden {
    display: none;
  }
}
