.outer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.appbar {
  z-index: 1;
}

.content {
  z-index: 0;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: row;

  .data {
    z-index: 1;
    box-shadow: 0.1875em 0 2em rgba(0, 0, 0, .3);
    width: 26.5em;
  }

  .mapContainer {
    flex-grow: 1;
  }
}

.controlButton {
  position: absolute;
  top: 1.5em;
  right:10px;
}