@import '../../../styles/colors';
@import '../../../styles/font.scss';

.list {
  margin-top: 2rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  .item {
    margin-bottom: 1.5rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    h4 {
      margin: 0;
    }

    .deleteBttn {
      margin-left: 1rem;
      flex-shrink: 0;
      stroke: $black;
      height: 1.25rem;
      width: 1.25rem;
      cursor: pointer;
    }
  }
}