@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.outer {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.title {
  flex-shrink:0;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 1;
  box-shadow: 0 0.1875em 2em rgba(0, 0, 0, .3);
  position: relative;
  overflow: visible;

  h5 {
    font-weight: $font-weight-heavy;
  }

  .icon {
    stroke: $black;
    height: 1.25rem;
    width: 1.25rem;
  }
}

.appbar {
  z-index: 1;
}

.mapContainer {
  z-index: 0;
  flex-grow: 1;
  position: relative;

  .layerButton {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }

  .start {
    background-color: $primary-color;
    box-shadow: 0 0.1875em 2em rgba(0, 0, 0, .3);
    border-radius: 3px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    height: 3rem;
    cursor: pointer;
    
    h3 {
      color: $background-color;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }

  .startDisabled {
    background-color: $neutral-color-3;
    box-shadow: 0 0.1875em 2em rgba(0, 0, 0, .3);
    border-radius: 3px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    height: 3rem;
    cursor: not-allowed;
    
    h3 {
      color: $neutral-color-7;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }
}

.chartDetails {
  z-index: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: $background-color;

  .exitButton {
    margin: 1.5rem;
    width: 1.25rem;
    height: 1.25rem;
    align-self: flex-end;

    .icon {
      stroke: $black;
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  h4 {
    margin: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: $font-weight-heavy;
  }

  .header {
    margin: 1rem 1.5rem 2rem 1.5rem;
    align-self: stretch;
    position: relative;
    z-index: 1001;

    h3 {
      margin: 0;
      font-weight: $font-weight-heavy;
      display: inline-block;
    }
  }

  div.historyChart {
    align-self: stretch;
    flex-shrink: 0;

    h4 {
      margin: 0;
      margin-left: 2.5rem;
    }
  }

  .options {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1 !important;
    flex-shrink: 0;
  
    h5 {
      margin: 0
    }
  
    .icon {
      height: 1rem;
      width: 1rem;
      stroke: $black;
      margin: 0;
    }
  
    .dropdown {
      width: 8.5rem;
      font-size: .875rem;
      margin-left: 2rem;
    }
  }
}

