@import '../../../styles/colors';
@import '../../../styles/font.scss';

.outer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

.appbar {
  z-index: 1;
}

.content {
  z-index: 0;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: row;

  .data {
    z-index: 1;
    box-shadow: 0.1875em 0 2em rgba(0, 0, 0, .3);
    width: 26.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    padding-left: 2.5rem;

    &.detailsShown {
      box-shadow: none;
      border-right: 1px solid $neutral-color-3;
    }

    .header {
      margin: 2.5rem 0 1.5rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .backButton {
        stroke: $black;
        height: 1.25rem;
        width: 1.25rem;
        cursor: pointer;
      }
  
      h3 {
        display: inline-block;
        margin: 0;
        margin-left: 2.5rem;
        font-weight: $font-weight-heavy;
      }
    }    

    &>h5 {
      margin: 0;
      color: $neutral-color-5;
    }

    .start {
      background-color: $primary-color;
      border-radius: 3px;
      margin-top: auto;
      margin-bottom: 2.5rem;
      width: 66%;
      height: 3rem;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
      h3 {
        color: $background-color;
        margin: .875rem 0;
      }
    }

    .startDisabled {
      background-color: $neutral-color-3;
      border-radius: 3px;
      margin-top: auto;
      margin-bottom: 2.5rem;
      width: 66%;
      height: 3rem;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: not-allowed;
      
      h3 {
        color: $neutral-color-7;
        margin: .875rem 0;
      }
    }
  }

  .mapContainer {
    flex-grow: 1;
  }

  .chartDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $background-color;
    overflow-y: auto;
    overflow-x: hidden;

    .exitButton {
      stroke: $black;
      height: 1.25rem;
      width: 1.25rem;
      margin: 2.5em 2.5rem 1.5em 0;
      flex-shrink: 0;
      cursor: pointer;
      align-self: flex-end;
    }

    .header {
      margin: 1rem 4rem 2rem 2.5rem;
      align-self: stretch;
      position: relative;
      z-index: 1001;

      h3 {
        margin: 0;
        font-weight: $font-weight-heavy;
        display: inline-block;
      }
    }

    div.chartGroup {
      align-self: stretch;
      display: flex;
      flex-shrink: 0;
      flex-flow: row;

      h4 {
        margin: 0;
        margin-left: 2.5rem;
      }

      .chartItemAir {
        flex-basis: 50%;
      }

      .chartItemVisual {
        flex-basis: 33.33%;
      }
    }

    .options {
      margin-left: 2.5rem;
      display: flex;
      align-items: center;
      height: 1.5rem;
      margin-bottom: 2rem;
      position: relative;
      z-index: 1 !important;
    
      h5 {
        width: 5rem;
        text-align: center;
        margin-left: .625rem;
        margin-right: .625rem;
      }
    
      .icon {
        height: 1rem;
        width: 1rem;
        stroke: $black;
        margin: 0;
      }
    
      .dropdown {
        width: 8.5rem;
        font-size: .875rem;
        margin-left: 2rem;
      }
    }
  }
}

.controlButton {
  position: absolute;
  top: 1.5em;
  right:10px;
}